@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
.main {
  background-image: url(Images/bg.jpg);
  height: 96vh;
  position: relative;
}
.main .box {
  height: 96vh;
  width: 100%;
  background-color: black;
  opacity: 0.69;
  position: absolute;
  top: 0%;
}
nav {
  width: 78vw;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin: auto;
}
nav img {
  position: relative;
  z-index: 10;
}
nav button {
  position: relative;
  z-index: 10;
}
.captions {
  font-family: "Poppins", sans-serif;
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 23px;
  padding: 0 30px;
}
.captions > :nth-child(1) {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
}
.captions > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
.captions > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.seperation {
  height: 10px;
  background-color: #80808048;
  /* padding-top: 14px; */
}
.btn {
  padding: 8px 17px;
  border-radius: 8%;
  font-weight: bolder;
}
.redSI {
  background-color: rgba(255, 0, 0, 0.847);
  color: white;
  border: none;
  font-family: "Poppins", sans-serif;
  padding: 9px 17px;
  font-weight: 550;
  margin-left: 16px;
  margin-right: 17px;
}
.redGS {
  background-color: rgba(255, 0, 0, 0.847);
  color: white;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 3px;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
  font-size: larger;
  /* height: 29px; */
  font-weight: 500;
  padding-top: 2px;
  padding-bottom: 10px;
  /* padding: 2px 17px */
}
.main input {
  font-family: "Poppins", sans-serif;
  /* padding: 10px 17px */
  color: rgba(221, 220, 220, 0.959);
  border: 1px solid rgba(128, 128, 128, 0.621);
  background-color: rgba(23, 23, 23, 0.74);
  width: 350px;
  height: 29px;
  padding-right: 205px;
  padding: 8px;
}
.btn-lang {
  font-family: "Poppins", sans-serif;
  /* padding: 10px 17px */
  color: rgba(221, 220, 220, 0.959);
  border: 1px solid rgba(128, 128, 128, 0.621);
  background-color: rgba(23, 23, 23, 0.74);
  font-size: 15px;
  padding-right: 35px;
  /* padding:9px */
}
.section2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section2 .captions2 {
  display: flex;
  color: white;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}
.captions2 :nth-child(1) {
  font-size: 45px;
  font-weight: bolder;
}
.captions2 :nth-child(2) {
  width: 600px;
  font-size: 20px;
  font-weight: 400;
}
.img2 {
  position: relative;
  display: flex;
  flex-direction: row;
  /* z-index: 10; */
}
/* .im2 img{
    
    position: relative;
    z-index: 10;
} */
.img2 video {
  padding-right: 200px;
  position: absolute;
  top: 93px;
  left: 85px;
}
.try {
  z-index: 10;
  width: 40vw;
}
.seperation-2 {
  height: 10px;
  margin-top: 100px;
  background-color: #80808048;
}
.section3 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.section3 .captions3 {
  display: flex;
  color: white;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}
.captions3 :nth-child(1) {
  width: 550px;
  font-size: 45px;
  font-weight: bolder;
}
.captions3 :nth-child(2) {
  width: 600px;
  font-size: 20px;
  font-weight: 400;
}
.section3 :nth-child(1) {
  width: 40vw;
  position: relative;
}
.section3 .box {
  /* background: black;
    height: 80px;
    width: 300px;
    border: 1px solid grey;
    position: absolute;
    left: 279px;
    top: 419px; */
  /* display: flex;
    align-items: center;
    justify-content: center; */
  background: black;
  height: 108px;
  width: 315px;
  border: 1px solid grey;
  position: absolute;
  left: 146px;
  top: 322px;
  border-radius: 0.75rem;
  /* border-top-left-radius:10% ; */
}
.section3 .asset2-1 {
  width: 55px;
  padding-top: 14px;
  padding-left: 12px;
}
.sub-cap {
  color: white;
  width: 142px;
  position: relative;
  left: 85px;
  top: -65px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
.s2 {
  font-weight: 350;
  top: -100px;
  color: #0071eb;
}
.Download .download-icon {
  width: 50px;
  top: -92px;
  left: 121px;
}
.seperation-3 {
  height: 10px;
  margin-top: 523px;
  background-color: #80808048;
}
.img2 .sacred {
  padding-right: 200px;
  position: absolute;
  top: 52px;
  left: 99px;
  width: 389px;
}
.seperation-4 {
  height: 10px;
  margin-top: 90px;
  background-color: #80808048;
}
.kid {
  top: 50px;
  padding-left: 134px;
}
.captions3 .kid-cap {
  width: 526px;
}
.section-4 .grid {
  height: 95px;
  width: 1100px;
  font-size: 20px;
  background-color: rgb(45, 45, 45);
  color: white;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  display: flex;
  flex-direction: row;
  border: none;
  padding-left: 19px;
}
.section-4 :nth-child(1) {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  text-align: center;
  align-items: center;
  padding-top: 62px;
  font-size: xxx-large;
}
.section-4 {
  display: flex;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.plus {
  margin-top: -65px;
  margin-right: 18px;
  font-family: thi;
}
svg {
  margin-top: -65px;
  margin-right: 18px;
}
.captions-last {
  color: white;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 46px;
  /* gap :10px; */
}
.grid:hover{
background-color: rgba(128, 128, 128, 0.466);
cursor: pointer;
}
/* .captions-last .s {
} */
.end{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.end-format{
    padding: 14px;
}
.inform{
    background-color: transparent;
    padding: 20px 41px;
    min-height: 16px;
    width: 329px;
    text-align: left;
    padding-left: 16px;
    border-radius: 0.5em;
}

.lastbutton{
    background-color: rgba(255, 0, 0, 0.847);
    color: white;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 0.2em;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    font-size: larger;
    /* height: 29px; */
    font-weight: 500;
    padding-top: 11px;
    padding-bottom: 17px;
    padding-left: 12px;
    padding-right: 23px;
}

.seperation-l{
  height: 10px;
  background-color: #80808048;
  margin-top: 71px;
}

 /* .faq h2 {
    text-align: center;
    font-size: 48px;
} */

/* .faq {
    background: black;
    color: white;
    padding: 34px;
} */

/* .faqbox:hover {
    background-color: #414141;
    color: white;
} */

/* .faqbox svg {
    filter: invert(1);
}  */

/* .faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
} */

footer {
    color: white;
    max-width: 80vw;
    margin: auto;
    padding: 60px;
    
}

footer .questions {
    margin-top: -34px;
    padding: 34px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    margin-left: 5px;
    margin-bottom: -38px;
}
.footer a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}
.lastone{
    margin-left: 145px;
}
.nf{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 350;
    margin-left: 146px;
    margin-top: 23px;
    padding-bottom: 100 px;
    
}

